#if( $page.cart )
#set( $cart = $page.cart )
#set( $checkoutItems = $services.cartManager.checkoutItems($cart) )
#else
#set( $checkoutItems = $services.cartManager.checkoutItems )
#set( $cart = $checkoutItems.cart )
#end
#set( $items = $checkoutItems.items )

#if( $cart.selectedPointsBucket )
    #set( $pointsBucket = $cart.selectedPointsBucket)
#else
    #set( $pointsBucketName = $formatter.safeGet($services.priceManager.getRules($rootFolder.website).pointsBuckets, 0))

    #if( $pointsBucketName )
        #set( $pointsBucket = $services.pointsManager.findPointsBucket($pointsBucketName) )
    #end
#end




#if ($allowCheckoutUsingPoints == 'true' && $pointsBucket)
    #set( $pointsBalance = $services.pointsManager.pointsBalance($pointsBucket, $user))

    ## TODO: Add points multiplier from cart.pointsMultiplier
    #set( $pointsMultiplier = 1 )

    #set ( $pointsAllocated = 0)
    #set ( $pointsAllocated = $cart.numPoints)

    #set( $totalAsPoints = $checkoutItems.totalCost * $pointsMultiplier)
    #set( $maxPointsAllowed = $totalAsPoints)
    #if ( $pointsBalance < $totalAsPoints)
        #set( $maxPointsAllowed = $pointsBalance)
    #end
    #if ( $maxPointsAllowed > $checkoutItems.totalCost)
        #set( $maxPointsAllowed = $checkoutItems.totalCost)
    #end
#end

<form id="cart-items" method="POST" action="$page.href">
    <!-- TODO: Currency should be configurable -->
    <div id="ecomItemsTable" class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <small>Order Summary</small>
            </div>
        </div>

        <div class="items-list" id="kcom2-cart-items">
            #if( $cart.pending )
            <div class="promo-codes-container form-group">
                <div class="input-group">
                    <input type="text" class="promo-codes form-control" name="promoCodes" value="$formatter.toCsv($services.cartManager.userPromoCodes)" placeholder="Enter promotion codes" />
                    <span class="input-group-btn">
                        <button class="apply-promo-codes btn btn-success">Apply</button>
                    </span>
                </div>
            </div>
            #end

            #foreach($item in $items )
                <div class="row item-row">
                    <div class="col-sm-6 item-title center-content">
                        <span class="item-photo">
                            #set ($photo = "/theme/img/photo_holder.png")
                            #if( $item.productSku.imageHash )
                                #set ($photo = "/_hashes/files/$item.productSku.imageHash")
                            #elseif ($item.product.images.size() > 0)
                                #set ($photo = "/_hashes/files/$item.product.images[0].imageHash")
                            #end

                            <div style="background-image: url($photo)"></div>
                        </span>
                        <div>
                            $item.itemDescription

                            #foreach( $opt in $item.productSku.options )
                            <br />
                            <small class="text-muted">
                                $opt.productParameter.title : $opt.title
                            </small>
                            #end
                        </div>
                    </div>
                    #if( $cart.pending )
                    <div class="col-sm-2 ecom-item-quantity center-content">
                        #if( $item.lineItemId )
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-xs btn-decrease-quantity" type="button">-</button>
                            </span>
                            <input type="text" value="$formatter.toInteger($item.quantity)" data-item-id="$item.lineItemId" name="quantity.${foreach.count}" class="form-control ecom-txt-quantity text-center"  autocomplete="off" />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-xs btn-increase-quantity" type="button">+</button>
                            </span>
                        </div>
                        <input type="hidden" class="productOrderId" name="item.${foreach.count}" value="$item.lineItemId" />
                        #else
                        <div style="" class="text-center">
                            <span>$formatter.toInteger($item.quantity)</span>
                        </div>
                        #end
                    </div>
                    #end

                    <div class="col-sm-3 item-price center-content">
                        <div>
                            <span class="lead">
                                #set( $cost = false )
                                #set( $cost = $formatter.formatCurrency($item.finalPriceExTax) )
                                #if( $cost )
                                $$cost<br/>
                                #end
                            </span>
                        </div>
                    </div>
                    #if( $cart.pending )
                    <div class="col-sm-1 item-action text-right center-content">
                        <div>
                            #if( $item.lineItemId )
                            <a href="$page.href" data-item-id="$item.lineItemId" class="btn-ecom-remove-item"><i class="fa fa-times-circle fa-2x"></i></a>
                            #end
                        </div>
                    </div>
                    #end
                </div>
            #end
        </div>

        #if( $checkoutItems )
        <div class="panel-footer cart-subtotal">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <span>Sub total</span>
                    <strong class="pull-right">$$formatter.formatCurrency($checkoutItems.subTotal)</strong>
                </div>
            </div>
        </div>
        <div class="panel-footer cart-tax">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <span>Tax</span>
                    <strong class="pull-right">$$formatter.formatCurrency($checkoutItems.totalTax)</strong>
                </div>
            </div>
        </div>
        <div class="panel-footer cart-tax">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <span>
                        Freight
                    </span>
                    <strong class="pull-right">
                        #if( $checkoutItems.freightCost )
                        $$formatter.formatCurrency($checkoutItems.freightCost)
                        #end
                    </strong>
                    #if( $checkoutItems.shippingProvider )
                    <p>
                    <span>( $checkoutItems.shippingProvider.title )</span>
                    </p>
                    #end
                </div>
            </div>
        </div>

        #if( $pointsBucket )
        #if ($allowCheckoutUsingPoints == 'true' && $pointsBalance > 0)
            <div class="panel-footer cart-tax">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-6">
                        <span>Points</span>
                    </div>
                    <div class="col-sm-3">
                        <input type="hidden" name="selectedPointsBucket" value="$pointsBucket.id" />
                        <input type="number"
                                min="0"
                                max="$!formatter.toInteger($maxPointsAllowed)"
                                value="$pointsAllocated"
                                name="pointsToUse"
                                class="form-control ecom-points-to-use text-right"
                                autocomplete="off" />

                        <i>You have <b>$formatter.toInteger($pointsBalance)</b> points, which you can use to pay for some or all of this purchase</i>
                    </div>
                </div>
            </div>
        #end
        #end


        <div class="panel-footer cart-total">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <span><strong>Total</strong></span>
                    <strong class="pull-right">$$formatter.formatCurrency($checkoutItems.totalCost)</strong>
                </div>
            </div>
        </div>
        #else
        <div class="panel-footer cart-subtotal">
        <h3>Please add some items to your cart :)</h3>
        </div>
        #end
    </div>
</form>