#if ($page)

    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/$store.name/">$!store.name</a></li>
#foreach( $pic in $page.attributes.productInStore.product.productInCategorys )
        #renderCat( $pic.category, $page.attributes.store )
#end
        <li class="active">$!page.name</li>
    </ol>



#else
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Sample breadcrumb</li>
</ol>
#end

#macro( renderCat $cat $store )
    #if( $cat.parentCategory )
    #renderCat( $cat.parentCategory, $store )
    #end
    <li><a href="/${store.name}#renderCatHref($cat)/">$cat.title</a></li>
#end

#macro( renderCatHref $cat )
#if( $cat.parentCategory )
#renderCatHref( $cat.parentCategory )
#end
/$cat.name
#end