<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12">Success message</label>
        <div class="col-sm-12">
            <textarea class="form-control success-message" rows="5">
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Continue shopping url</label>
        <div class="col-sm-12">
            <input type="text" class="form-control continue-shopping-url">
        </div>
    </div>
</form>