#parse("/theme/apps/KCommerce2/ecommerceMacros.html")
#if($page)
    #set( $storeOb = $page.attributes.store )
    #set( $catOb = $page.attributes.category )
    #set( $basePath = "/$storeOb.name/" )
    #set ($app = $applications.get("KCommerce2"))
    #set ($priceRanges = $app.call("findPriceRanges", $params))
    #set ($attributePairs = $app.call("findAttsInParams", $params))
    #set ($otherCats = $app.call("findOtherCatsInParams", $params))
    #set ($brands = $app.call("findBrandsInParams", $params))

    #set ($pageFrom = 0)
    #if (!$formatter.isNull($params.pageFrom))
        #set ($pageFrom = $formatter.toInteger($params.pageFrom))
    #end

    ## $pageSize is from component settings. Default = 12
    #if (!$formatter.isNull($params.pageSize))
        #set ($pageSize = $formatter.toInteger($params.pageSize))
    #end

    #if ($formatter.isNull($sortDirection))
        #set ($sortDirection = 'asc')
    #end

    #if (!$formatter.isNull($params.sortDirection))
        #set ($sortDirection = $params.sortDirection)
    #end

    #if (!$formatter.isNull($params.sortBy))
        #set ($sortBy = $params.sortBy)
    #end

    #set ($sortByFields = ["position", "finalCost", "sortableTitle.keyword"])
    #set ($sortDirectionArr = ["asc", "desc"])

    #if (!$formatter.isNull($sortBy) && !$sortByFields.contains($sortBy))
        #set ($sortBy = "")
    #end

    #if (!$formatter.isNull($sortDirection) && !$sortDirectionArr.contains($sortDirection))
        #set ($sortDirection = "asc")
    #end

    #set ($searchResults = $app.call("productSearch", $page, $storeOb, $catOb, $params.q, $attributePairs, $otherCats, $brands, $priceRanges, $pageFrom, $pageSize, $sortBy, $sortDirection))

    #set ($prodsListId = $formatter.randomGuid)


    #if( $searchResults.hits.hits.size() > 0 )
    <div class="kcom2ProductListHolder" data-page-size="$!pageSize">
        #if ($layout == "grid")
            #set ($clsName = "col-sm-3")
            #if ($itemsPerRow == 1)
                #set ($clsName = "col-sm-12")
            #elseif ($itemsPerRow == 2)
                #set ($clsName = "col-sm-6")
            #elseif ($itemsPerRow == 3)
                #set ($clsName = "col-sm-4")
            #elseif ($itemsPerRow == 4)
                #set ($clsName = "col-sm-3")
            #end


            <div class="row products-list grid-layout ecomStoreCategoryProductsComponent ecom-store-category-products" id="products-list-${prodsListId}">
                #foreach( $hit in $searchResults.hits.hits )
                    #productTile($hit $basePath $storeOb)
                #end
            </div>

        #else
            <div class="products-list ecom-store-category-products" id="products-list-$!prodsListId">
                #foreach( $hit in $searchResults.hits.hits )
                    #productRow($hit $basePath $storeOb)
                #end
            </div>
        #end

        <p id="inifiniteLoader" class="text-center" style="display: none;">
            <i class="fa fa-circle-o-notch fa-spin fa-2x" aria-hidden="true"></i>
        </p>
    </div>
    #else
        <div class="row products-list">
            <div class="col-sm-12">
                <p>&nbsp;</p>
                <p>Sorry, we couldnt find any products for you</p>
            </div>
        </div>

    #end
#else
    #fakeProductListUI()
#end

