#parse("/theme/apps/KCommerce2/ecommerceMacros.html")
#if($page)
    #set( $storeOb = $page.attributes.store )
    #set( $basePath = "/$storeOb.name/" )

    #set ($prodsListId = $formatter.randomGuid)

    #if( $page.attributes.searchResults.hits.hits.size() > 0 )
    <div class="kcom2ProductListHolder" data-page-size="$!applications.KCommerce2.getSetting('pageSize')">
        #if ($layout == "grid")
            #set ($clsName = "col-sm-3")
            #if ($itemsPerRow == 1)
                #set ($clsName = "col-sm-12")
            #elseif ($itemsPerRow == 2)
                #set ($clsName = "col-sm-6")
            #elseif ($itemsPerRow == 3)
                #set ($clsName = "col-sm-4")
            #elseif ($itemsPerRow == 4)
                #set ($clsName = "col-sm-3")
            #end


            <div class="row products-list grid-layout ecomStoreCategoryProductsComponent ecom-store-category-products" id="products-list-${prodsListId}">
                #foreach( $hit in $page.attributes.searchResults.hits.hits )
                    #productTile($hit $basePath $storeOb)
                #end
            </div>

        #else
            <div class="products-list ecom-store-category-products" id="products-list-$!prodsListId">
                #foreach( $hit in $page.attributes.searchResults.hits.hits )
                    productRow($hit $basePath $storeOb)
                #end
            </div>
        #end

        <p id="inifiniteLoader" class="text-center" style="display: none;">
            <i class="fa fa-circle-o-notch fa-spin fa-2x" aria-hidden="true"></i>
        </p>
    </div>
    #else
        <div class="row products-list">
            <div class="col-sm-12">
                <p>&nbsp;</p>
                <p>Sorry, we couldnt find any products for you</p>
            </div>
        </div>

    #end

#else
    #fakeUI()
#end

