<html>
    <head>
        <title>Email Settings</title>
        <link href="myInbox.less" rel="stylesheet" type="text/css" media="all" />

    </head>
    <body>
        <h1>Email Settings</h1>

        <hr/>

        <form id="updateForm" class="form-horizontal" method="POST" action="$page.href">
            <input type="hidden" name="updateSettings" value="true"/>

            <div class="form-group">
                <label for="captureProfile" class="col-sm-5 control-label">Email sending enabled</label>
                <div class="col-sm-6">
                    $formatter.checkbox("enabled", $page.enabled)
                </div>
            </div>


            <div class="form-group">
                <label for="autoEmailLimit" class="col-sm-5 control-label">Automation Email Limit</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="autoEmailLimit" value="$!page.autoEmailLimit" />
                </div>
            </div>

            <div class="form-group">
                <label for="groupEmailLimit" class="col-sm-5 control-label">Group Email Limit</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="groupEmailLimit" value="$!page.groupEmailLimit" />
                </div>
            </div>

            <div class="form-group">
                <label for="captureProfile" class="col-sm-5 control-label">Forward Emails to Profiles<small>Send an incoming email to a user</small></label>
                <div class="col-sm-6">
                    $formatter.checkbox("captureProfile", $page.captureProfile)
                </div>
            </div>

            <div class="form-group">
                <label for="captureGroup" class="col-sm-5 control-label">Forward Emails to Groups<small>Send incoming emails to a group</small></label>
                <div class="col-sm-6">
                    $formatter.checkbox("captureGroup", $page.captureGroup)
                </div>
            </div>

            <div class="form-group">
                <label for="groupEmailLimit" class="col-sm-5 control-label">Ignored email addresses</label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="ignoreAddresses">$!page.ignoreAddresses</textarea>
                    <p>Enter full or partial addresses seperated by commas. Eg @fake.com,fiona.apple@pop.com</p>
                </div>
            </div>

            <div class="form-group">
                <label for="indexEmailContent" class="col-sm-5 control-label">Index email content</label>
                <div class="col-sm-6">
                    $formatter.checkbox("indexEmailContent", $page.indexEmailContent)
                </div>
            </div>

            <div class="form-group">
                <label for="rateLimits" class="col-sm-5 control-label">Rate limits</label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="rateLimits">$!page.rateLimits</textarea>
                    <p>Each line should be a rate limit and action, eg <i>2/customer/24/pause-account,deny</i> which means: maximum of 2 emails per recipient in the group 'customer' per 24 hours, and if exceed email sending will be paused for the account and the email being considered will be denied</p>
                </div>
            </div>

            <div class="form-group">
                <label for="indexEmailContent" class="col-sm-5 control-label">Sender identification</label>
                <div class="col-sm-6">
                    <select name="senderMode" class="form-control">
                        $formatter.option('k', 'Kademi as sender', $page.senderMode)
                        $formatter.option('f', 'From address', $page.senderMode)
                    </select>
                    <p>When emails are sent, by default Kademi sets the 'Sender' and 'Return-path' fields to identify Kademi as the sending service.
                    The 'From' address is whatever is selected for each email. If you change to a sender mode of 'From address' then the from
                    address on each email will also be used as the sender and return-path</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <button class="btn btn-sm btn-info" type="submit">
                        <span class="fa fa-save"></span>
                        Save
                    </button>
                </div>
            </div>
        </form>

        <hr/>

        <h2>Administrator notifications</h2>
        <form id="sendTestForm" class="form-horizontal" method="POST" action="$page.href">
            <input type="hidden" name="testAdminNotification" value="true"/>
            <p>Please click the button below to send a test notification to administrators.</p>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <button class="btn btn-sm btn-info" type="submit">
                        <span class="fa fa-envelope"></span>
                        Send test
                    </button>
                </div>
            </div>
        </form>


        <script type="text/javascript">
            $(function () {
                $("#updateForm").forms({
                    onSuccess : function(resp) {
                        if( resp.status) {
                            Msg.info("Updated ok");
                        } else {
                            Msg.error("Eeek " + resp.messages);
                        }
                    }
                });

                $("#sendTestForm").forms({
                    onSuccess : function(resp) {
                        if( resp.status) {
                            Msg.info("Test sent");
                        } else {
                            Msg.error("Eeek " + resp.messages);
                        }
                    }
                });
            });
        </script>

    </body>
</html>


