<div class="row products-list ecomStoreCategoryProductsComponent wishlistWrap">
    #set( $cart = $services.cartManager.shoppingCart(true) )
#if ($page.attributes.wishList && $page.attributes.wishList.hits.totalHits > 0)
#foreach ($r in $page.attributes.wishList.hits.hits)
#set ($product = $services.catalogManager.findProductByName($r.source.product))
#set ($productInStorePage = $page.find($r.source.path))
#set ($productInStore = $productInStorePage.attributes.productInStore)
<div class="col-sm-4 product-item">
    <div class="thumbnail product">
        #set ($on = $applications.KWishList.call("isInWishList", $page, $product.name, $r.source.store))
        <a data-on="fa-heart" data-off="fa-heart-o" data-store="$!r.source.store" data-path="$!r.source.path" href="$!product.name" class="btn-remove-wishlist text-info">
            <i class="fa fa-2x $!formatter.ifTrue($on, 'fa-heart', 'fa-heart-o')"></i>
        </a>
        <div class="product-info">
            <h3 class="product-title" >
                <a class="text-primary" href="$r.source.path">$product.title</a>

            </h3>
            <div class="embed-responsive embed-responsive-4by3">
                #set($bg = "/static/images/photo_holder.png")
                #if ($product.images.size() > 0)
                #set($bg = '/_hashes/files/' + $product.images[0].imageHash)
                #end
                <a href="$!r.source.path" class="embed-responsive-item"
                   style="background-image: url($bg);"></a>
            </div>
        </div>
        <div class="caption">
            #set ($priceArray = [])


            #foreach( $sku in $product.productSkus )
            #set( $itemisedPrice = false )
            #set( $itemisedPrice = $services.priceManager.itemisedUnitPrice($user, $productInStore, $sku, $cart) )
            #if( $itemisedPrice.finalCost )
            #if ($priceArray.add($itemisedPrice.finalCost)) #end
            #end
            #end

            <h3 class="text-center product-price bg-info">
                #set ($priceArraySize = $priceArray.size())
                #set( $initialSkuId = "" )
                #if ($priceArraySize > 0)
                #set ($priceArray = $formatter.sort($priceArray))
                #set ($priceArrayLastIndex = $priceArraySize - 1)
                #if ($priceArray.size() > 1)
                $$formatter.formatCurrency($priceArray[0]) -  $$formatter.formatCurrency($priceArray[$priceArrayLastIndex])
                #else
                $$formatter.formatCurrency($priceArray[0])
                #set( $initialSkuId = $formatter.safeGet($product.productSkus, 0).id )
                #end
                #else
                N/A
                #end
            </h3>
            <a href="$!r.source.path" class="btn btn-info" role="button">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
    </div>
</div>
#end
#end
</div>