.btnToggleWishList, .btn-remove-wishlist{
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 99;
    &:focus, &:active{
        outline: none;
        box-shadow: none;
    }
    &.btnToggleProductDetail{
        top: 25px;
        right: 15px;
    }
}