<form class="form-horizontal">
    #set( $claimTypes = $applications.get('salesDataClaimer').getAppSettings(null, null).claimTypes.split('\n'))
    <div class="form-group">
        <label class="col-sm-12">Form background</label>
        <div class="col-sm-12">
            <input type="text" value="" class="txt-bg-color form-control" />
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="chk-bg-transparent" /> Transparent
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Form title</label>
        <div class="col-sm-12">
            <input type="text" class="form-control txt-form-title" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Form description</label>
        <div class="col-sm-12">
            <textarea class="form-control txt-form-description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Claim Type</label>
        <div class="col-sm-12">
            <select class="form-control select-claim-type">
                    <option value="" selected="selected">- None -</option>
                    #foreach( $claimType in $claimTypes )
                        $formatter.option($claimType.trim(), $claimType.trim(), null)
                    #end
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12">Hide preview receipt</label>
        <div class="col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="chk-hide-preview-receipt" />
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12">Hide receipt upload</label>
        <div class="col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="chk-hide-upload-receipt" />
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12">Single claim only</label>
        <div class="col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="chk-single-claim" />
                </label>
            </div>
        </div>
    </div>

    <div class="form-group hide">
        <label class="col-sm-12">Hide submit button</label>
        <div class="col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="chk-hide-submit-button" />
                </label>
                <p class="help-block"><i>When this is enabled, form will be submitted automatically once receipt image is uploaded</i></p>
            </div>
        </div>
    </div>
</form>