<form class="form-horizontal form-new-image-claim well" action="/salesDataClaims/" method="post" enctype="multipart/form-data">
    <div class="form-message alert alert-danger" style="display: none;"></div>
    <input type="hidden" name="imageClaim" value="true" class="modal-action" />

    <div class="form-group">
        <label class="control-label sr-only">File</label>

        <div class="col-sm-12">
            #if ($hidePreviewReceipt != "true")
                <p class="thumbnail">
                    <img src="/static/images/photo_holder.png" class="img-responsive" />
                </p>
            #end
            <button type="button" class="btn btn-lg btn-info btn-upload-image-claim btn-block"><i class="fa fa-file-picture-o"></i> <span> Upload claim file</span></button>
            <input type="file" name="claimImage" accept=".txt,.csv,.xls,.xlsx,image/*,text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" class="form-control required" style="display: none !important;" />
        </div>
    </div>
</form>
<div class="sale-claim-success" style="display: none">
    <p><i class="fa fa-thumbs-up"></i></p>
    <h2>Congratulations!</h2>
    <p class="lead">You've just submitted your claim</p>
    <button type="button" class="btn btn-info btn-submit-other-claim">Submit another</button>
</div>