<div class="ktile-wrapper col-xl-3 col-lg-4 col-md-4 col-sm-3">
    <div class="ktile">
        <div class="ktile-inner">
            <div class="ktile-body">
                <div class="ktile-front ktile-single-value">
                    <div class="ktile-content">
                        <a href="/manageContacts">
                            <div class="ktile-single-value-icon">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <div class="ktile-single-value-text">
                                #set( $start = $services.queryManager.commonStartDate )
                                #set( $finish = $services.queryManager.commonFinishDate )

                                #set( $numContactRequests = $rootFolder.find("/manageContacts").dbCount($start, $finish) )
                                #if( $numContactRequests > 0 )
                                    <div class="lead">$numContactRequests</div>
                                    <div class="small">contact requests</div>
                                #else
                                    <div>Learn about forms</div>
                                #end
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
